body {
  margin: 0;
  padding: 0;
  font-family: "helvetica neue", sans-serif;
  color: #fff;
}

header {
  background-color: #000;
  color: #fff;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#title {
  font-size: 2em;
  font-weight: 500;
  margin-left: 1em;
  color: #fff;
}

.rightHeader {
  justify-content: right;
}

.wrapper {
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
  height: max-content;
  background-image: url("./imgs/Foto_Fluxo.png");
  background-color: #4c4c4c;
  background-blend-mode: multiply;
  background-size: cover;
}

.mainLeft {
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.mainRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: disc;
  display: flex;
  flex-direction: row;
}

li {
  margin: 0 1em;
}

h2 {
  font-weight: 500;
  color: #f68332;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

.logo {
  width: 100px;
}

.capa {
  width: 60%;
  margin-top: 10%;
}

.form-wrapper {
  margin-bottom: 15px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.esq-senha {
  color: #f68332;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
}

.esq-senha:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.btn-login {
  background-color: #f68332;
  font-size: larger;
  padding: 15px;
  color: white;
}

.btn-google {
  background-color: #fff;
  margin-right: 10px;
  align-items: center;
  font-size: small;
  color: black;
}

.btn-apple {
  background-color: #fff;
  font-size: small;
  color: black;
}

.other-login {
  display: flex;
  flex-direction: row;

  margin-top: 10px;
}

.icon {
  width: 25px;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  width: 3.5em;
  height: 2em;
}

.toggle {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#remember {
  color: #f68332;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 1px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 0.15em;
  bottom: 0.15em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s;
}

.switch input:checked + .slider {
  background-color: #f68332;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

footer {
  background-color: #000;
  color: #fff;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: small;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 30px;
}

#first {
  list-style: none;
}
