body {
  margin: 0;
  padding: 0;
  font-family: "helvetica neue", sans-serif;
  color: #fff;
  overflow: hidden;
}

header {
  background-color: #000;
  color: #fff;
  padding: 0 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#title {
  font-size: 2em;
  font-weight: 500;
  margin-left: 1em;
  color: #fff;
}

.rightHeader {
  justify-content: right;
}

.wrapper {
  padding: calc(5% + 3px) 5%;
  display: flex;
  flex-direction: row;
  height: max-content;
  background-image: url("./imgs/Foto_Fluxo.png");
  background-color: #727272;
  background-blend-mode: multiply;
  background-size: cover;
  justify-content: space-between;
}

.mainLeft {
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.mainRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 500;
  color: #f68332;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0 0;
}

.logo {
  width: 100px;
}

.capa {
  width: 60%;
  margin-top: 10%;
}

form {
  width: 50%;
}

.form-wrapper {
  margin-bottom: 15px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  padding: 1.5em 0 1.5em 3em;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: calc(100% - 3em - 2px); /* 3em padding + 2px border */
}

input[type="email"]::placeholder {
  margin-left: 0px;
}
#email {
  margin-bottom: 15px;
}
.esq-senha {
  color: #f68332;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
}

.esq-senha:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.btn-login {
  background-color: #f68332;
  font-size: larger;
  padding: 15px;
  color: white;
  margin-top: 15%;
}

.btn-google {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-right: 10px;
  align-items: center;
  padding: 2% 0;
  font-size: 11px;
  color: black;
}

.btn-apple {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  padding: 2% 0;
  font-size: 11px;
  color: black;
}

.other-login {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.icon {
  width: 20px;
  margin-right: 10px;
}

.switch {
  font-size: 13px;
  position: relative;
  width: 3.5em;
  height: 2em;
}

.toggle {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#remember {
  color: #f68332;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
  align-self: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 1px solid #414141;
  border-radius: 50px;
  transition: all 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s;
}

.switch input:checked + .slider {
  background-color: #f68332;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

footer {
  position: sticky;
  background-color: #000;
  color: #fff;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: small;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin: 0 1em;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 30px;
}

#first {
  list-style: none;
}
